h1.topheader {
    text-align: center;
}

img.social-media-link {
    width: 64px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.footer-text {
    font-size: 12px;
    text-align: center;
}

path {
    fill: white;
    stroke: #000000;
    stroke-width: "0.7998829988299883";
    stroke-opacity: "1";
}

#country_details {
    background-color: #ffcb9b;
    width: 27em;
    position: absolute;
    display: none;
    /* max-height: 35em; */
    /* max-height: 100%; */
    /* width: 250px;
    height: 350px; */
    /* left : left;
    top : top; */
}

#book_img {
    height: 41%;
    width: 33%;
    float: left;
    padding: 0px;
    border: 1px solid blue;
}

#book_cover {
    max-width: 100%;
    max-height: 100%;
}

#book_metadata {
    height: 41%;
    width: 67%;
    float: left;
    padding-top: 10px;
    border: 1px solid green;
}

#country_name {
    font-size: 12px;
    padding-left: 10px;
}

#book_title {
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
}

#book_author {
    padding-left: 10px;
    font-size: 12px;
}

#rating_div {
    float: left;
    font-size: 10px;
    padding-left: 10px;
}

#avg_rating {
    font-size: 12px;
    padding-left: 2px;
}

#book_summary {
    max-height: 59%;
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px solid yellow;
}

.checked_star {
    color: orange;
}